@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-main-bg: #1E1E1E;
  --color-txt: #E8E8E8;
  --color-card: rgba(54, 54, 54, 0.25);
  --color-dark-gray: #444444;
  --color-slightGray: rgba(255, 255, 255, 0.25);

  /* main blue */
  --color-blue: #2563EB;
  --color-hblue: #1D4ED8; 
}

body {
  font-family: "Inter", sans-serif;
  background: radial-gradient(circle, #2B2B2B, var(--color-main-bg));
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
